*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.env

# Secret files
app/src/main/assets/secret.properties
app/google-services.json
.idea/deploymentTargetSelector.xml
